@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-blue-950 text-blue-50;
    font-family:
      'Source Han Code JP', '游ゴシック体', 'Yu Gothic', '游ゴシック Medium',
      'Yu Gothic Medium', '游ゴシック', 'Yu Gothic', sans-serif;
  }
}

/* Chrome, Safari, Edgeのnumber入力欄の矢印を非表示にする */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
